# Django
DJANGO_SETTINGS_MODULE=settings.settings
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# PostgreSQL + pgvector
POSTGRES_DB=cookie_cutter
POSTGRES_USER=cookie_cutter
POSTGRES_PASSWORD=cookie_cutter
POSTGRES_HOST=database
POSTGRES_PORT=5432

# NLP
# Similaridade mínima para aceitar uma intenção
NLP_SIMILARITY_THRESHOLD=0.70
